.table-managment {
    background-color: #161616;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.table-page-container {
    border: solid 1px #262626;
    padding: 45px;
    border-radius: 8px;
    text-align: center;
}

.add-remove-table {
    background-color: #262626;
    padding: 50px;
    border-radius: 8px;
    border-color:  white;
    text-align: center;
    width: 60%;
    margin: auto;
}

.res_tables {
    margin-top: 15px;
    background-color: #262626;
    border-radius: 8px;
    padding: 8px;
}

.inner-res-tables {
    border: solid 2px #161616;
    padding: 8px;
    display: flex;
    border-radius: 8px;
    flex-wrap: wrap;
}

.table {
    min-width: 200px;
    width: 33.33%;
}

.tmp {
    margin: 8px;
    border: solid 2px #fbc403;
    background-color: #fbc403;
    border-radius: 8px;
    padding: 8px;
}

.table-items {
    display: flex;
    align-items: center;
}

h2.table-item {
    float: right;
    margin: 4px;
    padding: 0;
}

h2.title-tables {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: bold;
    color: #eeba2c;
}

label.table-item {
    -webkit-text-fill-color: #161616;
}

.ant-btn {
    margin: 2px;
    margin-top: 25px;
    background-color: #262626;
    /*padding: 20px;*/
    border-radius: 10px;
    cursor: pointer;
    color: #fbc403;
    font-weight: bold;
    transition-duration: 0.4s;
}

.add {
    margin: 2px;
    border: solid 2px #fbc403;
    background-color: #fbc403;
    color: black;
    border-radius: 10px;
    cursor: pointer;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    transition-duration: 0.4s;
    margin-top: 0px;
    width: 80%;
}
.add:hover {
    background-color: black;
    -webkit-text-fill-color: #fbc403;
    border-color:  white;
}

.remove {
    margin: 2px;
    border: dashed 2px #fbc403;
    background-color: #262626;
    /*padding: 20px;*/
    border-radius: 10px;
    cursor: pointer;
    color: #fbc403;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    transition-duration: 0.4s;
    margin-top: 0px;
    width: 80%;
}
.remove:hover {
    background-color: #262626;
    -webkit-text-fill-color: #fbc403;
    border-color: #fbc403;
}

.enter-button-add {
    margin-top: -150px;
}

.enter-button-add:hover, .enter-button-remove:hover {
    background-color: #fbc403;
    -webkit-text-fill-color: black;
    border-color:  white;
}

.modal {
    text-align: center;
    display: flex;
    justify-content: center;
}

.form1 {
    margin-top: 25px;
    padding: 0px;
    display: flex;
    border: 0px;
    border-radius: 20px;
}

.form-item {
    margin: auto;
}

.div-form-items-add {
    text-align: center;
    justify-content: center;
    margin: auto;
}

.ant-modal .ant-modal-content {
    background-color: #262626;
}

.ant-modal-title {
    background-color: #262626;
    -webkit-text-fill-color: #fbc403;
    font-weight: bold;
    font-size: large;
}

.input1 {
    float: right;
    width: 45px;
}

@media screen and (max-width: 700px) {
    .table {
        width: 100%;
    }

    .add-remove-table {
        width: 100%;
    }
  }