.table-managment {
    background-color: #161616;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.table-list {
    background-color: #262626;
    padding: 50px;
    border-radius: 15px;
    border-color:  white;
    text-align: center;
}

.ant-btn {
    margin: 2px;
    border: solid 2px #fbc403;
    background-color: #262626;
    /*padding: 20px;*/
    border-radius: 10px;
    cursor: pointer;
    color: #fbc403;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    transition-duration: 0.4s;
    margin-top: 0px;
    width: 200px;
}

.add {
    margin: 2px;
    border: solid 2px #fbc403;
    background-color: #fbc403;
    color: black;
    border-radius: 10px;
    cursor: pointer;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    transition-duration: 0.4s;
    margin-top: 0px;
    width: 200px;
}
.add:hover {
    background-color: black;
    -webkit-text-fill-color: #fbc403;
    border-color:  white;
}

.remove {
    margin: 2px;
    border: dashed 2px #fbc403;
    background-color: #262626;
    /*padding: 20px;*/
    border-radius: 10px;
    cursor: pointer;
    color: #fbc403;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    transition-duration: 0.4s;
    margin-top: 0px;
    width: 200px;
}
.remove:hover {
    background-color: #262626;
    -webkit-text-fill-color: #fbc403;
    border-color: #fbc403;
}

.enter-button-add {
    margin-top: -150px;
}

.enter-button-add:hover, .enter-button-remove:hover {
    background-color: #fbc403;
    -webkit-text-fill-color: black;
    border-color:  white;
}

.modal {
    text-align: center;
    display: flex;
    justify-content: center;
}

.form1 {
    margin-top: 25px;
    padding: 0px;
    display: flex;
    border: 0px;
    border-radius: 20px;
}

.form-item {
    margin: auto;
}

.div-form-items-add {
    text-align: center;
    justify-content: center;
    margin: auto;
}

.ant-modal .ant-modal-content {
    background-color: #262626;
}

.ant-modal-title {
    background-color: #262626;
}

.input1 {
    float: right;
    width: 45px;
}