.restaurant-orders {
    background-color: #161616;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.inner-restaurant-orders {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: table;
}

.selectors {
    margin-top: 30px;
    display: flex;
    width: fit-content;
    background-color: #262626;
    padding: 1%;
    border-radius: 20px;
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.label-date {
    margin-right: 10px;
}

.orders-date {
    margin-right: 20px;
    margin-left: 20px;
}

.restaurant-orders-container {
    width: 100%;
    background-color: #262626;
    margin-top: 30px;
    padding: 2.5%;
    border-radius: 20px;
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title-res-orders-container {
    display: flex;
    background-color: #eeba2c;
    padding: 2.5%;
    border-radius: 20px;
    text-align: center;
    width: 100%;
}

.nameee {
    text-align: left;
    width: 50%;
}

.dateee {
    text-align: right;
    width: 50%;
}

h1.titlesss {
    color: #161616;
}

.restaurant-orders-list {
    margin-top: 30px;
    background-color: #161616;
    padding: 1.5%;
    border-radius: 20px;
    width: 100%;
}

.simple-order {
    display: block;
    margin: 1%;
    background-color: #262626;
    padding: 2.5%;
    border-radius: 20px;
}

.left-order-info{
    width: 50%;
}

.right-order-info{
    width: 50%;
    text-align: right;
}


/*** order card ***/
.order-card {
    border: solid 1px #161616;
    margin-top: 3px;
    margin-bottom: 3;
    color: white;
    display: flex;
    align-items: center;
    min-height: 125px;
    border-radius: 4px;
}

.order-card-left {
    width: 50%;
    margin-left: 45px;
}

.order-card-right {
    width: 50%;
    text-align: right;
    display: block;
    margin-right: 45px;
}

img.order-res-logo {
    width: 85px;
    height: 85px;
    object-fit: cover;
    border-radius: 50%;
}

.order-res-info {
    display: flex;
}

.order-res-name-and-time {
    margin-left: 10px;
    padding: 4px;
}

h2.order {
    margin: 0;
}

h3.order {
    margin: 0;
}

.order-time {
    margin-top: 10px;
}

.order-cost {

}

.order-factor-and-status {
    margin-top: 10px;
}

.status-button {
    border: solid 1px #161616;
    background-color: #161616;
    /*padding: 20px;*/
    border-radius: 10px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    height: 50px;
    width: 30%;
    text-align: center;
    min-width: fit-content;
}

.factor-button {
    border: solid 1px #262626;
    background-color: #eeba2c;
    /*padding: 20px;*/
    border-radius: 10px;
    cursor: pointer;
    color: black;
    font-size: 18px;
    font-weight: bold;
    transition-duration: 0.4s;
    margin-left: 10px;
    height: 50px;
    width: 30%;
    min-width: fit-content;
}

.factor-button:hover {
    -webkit-text-fill-color: white;
    background-color: #161616;
    border: solid 1px #161616;
}