.report-all{
    display: flex;
    flex-direction: row;
    background-color: #161616;
    height: 200vh;
    margin-top: -10px;
    padding-top:10%;
    padding-left: 10%;
}

.sale-report-cards{
    display: flex;
}
.card-header{
    font-weight: bold;
    font-size: 20px;
}
.res-busiest-card{
    display: flex;
    justify-content: center;
}
.card-body .btn{
    
    margin-left: 5px;
    color: white;
    font-weight: bold;
    padding: 0.15rem;
}
.clock-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clock-bar{
	display: flex;
    width: 500px;
    height: 200px;
	/* align-items: center; */
    /* justify-content: center; */
	
}
.clock-item{
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.clock-item-title{
    font-weight: bold;
    font-size:1.25rem;
    color: #161616;

}

.best-selling-img{
    aspect-ratio: 1/1;
    width: 20%;
    height: 20%;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    object-fit: cover;
}

.best-selling-all{
    display: flex;
    width: 100%;
    border-bottom: 1px solid center #161616;
    
}

.best-selling-details{
    padding-left: 1rem;
    
}

.best-selling-details .card-text{
    font-weight: bold;
}
.restBusi2{
    width: 37rem;
}
.mb-5{
    max-height: 445px;
}
@media screen and (max-width: 500px) {
    .sale-report-cards{
        display: block;
    }
    .restBusi{
        display: flex;
        flex-direction: column;
        /* height: 100%; */
    }
    .restBusi2{
        max-width: 18rem;
    }
    .clock-bar{
        /* display: flex; */
        max-width: 13rem;
        min-height: 45rem;
        flex-direction: column;
    }
}
