.sale-report-All{
    background-color: #161616;
    /* box-sizing: border-box; */
    height: 200vh;
    margin-top: -10px;
    padding-top:4%;
    padding-left: 4%;
    /* margin: -8px; */
}
.sale-report-cards{
    display: flex;
}
.card-header{
    font-weight: bold;
    font-size: 20px;
}
.res-busiest-card{
    display: flex;
    justify-content: center;
}
.card-body .btn{
    
    margin-left: 5px;
    color: white;
    font-weight: bold;
    padding: 0.15rem;
}

.clock-bar{
	display: flex;
	align-items: flex-end;
	
}

.busiest-date{
	padding-bottom: 3rem;
	font-size: 1.5rem;
	font-weight: bold;
	margin-left: 5rem;
	


}