
.wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(160, 160, 160, 0.5);
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container {
	background-color: #262626;
	max-width: 500px;
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem;
	border-radius: 8px;
	position: relative;
}
.closeButton {
	position: absolute;
	top: -10px;
	right: 0;
	transform: translateY(-100%);
	font-size: 2.5rem;
	padding: 0.5rem;
	border-radius: 4px;
	background-color: #262626;
	color: #eeba2c;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: 0.3s ease all;
	z-index: -1;
}
.closeButton:hover {
	background-color: #e32525;
	color: white;
}
.formTitle {
	
	color: #eeba2c;
	font-size: 2rem;
	font-weight: 600;
	margin-bottom: 2rem;
	text-transform: capitalize;
}
.form {
	width: 100%;
}
.form label {
	font-size: 1.6rem;
	color: #eeba2c;
}
.form label input, .form label select {
	margin-top: 0.5rem;
	margin-bottom: 2rem;
	width: 100%;
	padding: 1rem;
	border: none;
	background-color: white;
	font-size: 1.6rem;
}
.buttonContainer {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-top: 2rem;
	gap: 1rem;
}
.submit{
	margin-right: 10px;
    margin-left: 10px;
    height: 35px;
    font-size: large;
    font-family: gilroy;
    color: balck;
    background-color: #eeba2c;
    border: none;
    border-radius: 0.5rem;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}
.submit:hover {
    color: white;
    background-color: #161616;
    cursor: pointer;
    transition-duration: 0.4s;
}

.submit:focus {
    color: white;
    background-color: #161616;
    cursor: pointer;
    transition-duration: 0.4s;
}